<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Transaction Info</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h1>Transaction ID: [[${transactions.id}]] <span th:if="${transactions.type} == 'C'">(Credit)</span><span th:if="${transactions.type} == 'D'">(Debit)</span></h1>
		<p>
		Date: [[${transactions.date}]] <br>
		Amount: [[${transactions.amount}]] <br>
		Description: [[${transactions.description}]] <br>
		</p>
		
		<a href="/transactions">back</a>
		
	</body>
</html>