<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Dashboard</title>
	</head>
	
	<body>
		<h1>Dashboard</h1>
		
		<form action="/movie" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div>
					movie name: <input type="text" th:field="${movie.name}" />
				</div>
				<div>
					movie rating: <input type="text" th:field="${movie.rating}" />
				</div>
				<div>
					Date of watch: <input type="date" name="dateofwatch" />
				</div>
				<button type="submit">submit</button>
				<hr/>
		</form>
		
		<form action="/tvshow" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div>
					series name: <input type="text" th:field="${tvshow.name}" />
				</div>
				<div>
					series rating: <input type="text" th:field="${tvshow.rating}" />
				</div>
				<div>
					Date of watch: <input type="date" name="dateofwatch" />
				</div>
				<div>
					Season: <input type="number" th:field="${tvshow.season}" />
				</div>
				<div>
					episode: <input type="number" th:field="${tvshow.episode}" />
				</div>
				<button type="submit">submit</button>
				<hr/>
		</form>
		
		<form method="post" action="/logout">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit">logout</button>
		</form>
	</body>
</html>