<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Join Channel</title>
		<!--  
		<script type="text/javascript">
		 let person = prompt("Please enter your name: ");
		 
		</script>
		 -->
	</head>
	
	<body>
		<h2>Join a Channel</h2>
		
		<!--  
		<a th:href="@{/channels/{id}(id=${1})}" id="button">General</a>
		
		<script type="text/javascript">
		
		let name = document.getElementById("button");
		let username = {
			"name": person
		}
		name.addEventListener('Click', () =>{
			fetch(`http://localhost:8080/channel/1`, {
				method: "POST",
				headers: {
					"Content-type": "application/json"
				},
				body: JSON.stringify(username)
			})
		})
		</script>
		-->
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" value="Enter Name" />
			</div>
		</form>
	</body>
</html>