<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Join Channel</title>
		 
		<script type="text/javascript">
		 let person = prompt("Please enter your name: ");
		 
		</script>
		 
	</head>
	
	<body>
		<h2>Join a Channel</h2>
		
		
		<div id="general" style="color:blue;text-decoration: underline;">General</div>
		
		<script type="text/javascript">
		
		let genChat = document.getElementById("general");
		let obj = {
			"user": {"id" : 0, "name" : person},
			"channelId": "1"
		}
		genChat.addEventListener('click', () =>{
			fetch('http://localhost:8080/welcome', {
				method: "POST",
				redirect: "follow",
				headers: {
					"Content-type": "application/json"
				},
				body: JSON.stringify(obj)
				
			}).then(response =>{
				return response.text()
			}).then(data => {console.log(data)})
		})
		</script>
		
		<form action="" method="post">
			<div>
				Username: <input type="text" th:field="${user.name}" />
			</div>
			<div>
				<input type="submit" value="Enter Name" />
			</div>
		</form>
	</body>
</html>