<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Join Channel</title>
	</head>
	
	<body>
		<h2>You can Talk here!</h2>
		<!--/*  
		<div th:if="${#lists.size(L_msg) >= 1}" th:each="messages : ${L_msg}">
				[[${messages.user.name}]]: [[${messages.message}]]
		</div>
		*/-->
		<div id="message_board"></div>
		
		<div>
			<!-- <input type="hidden" th:field="${user}" />-->
			<input type="text" id="message"/>
			<input type="button" value="Enter message" onclick="myFunction()" id="button"/>
		</div>
			
		
		
	<script type="text/javascript">
		let text = window.location.href;
		const myArray = text.split("/");
		var channelId = myArray[4];
		setInterval(fetchFunc, 500);
		function myFunction() {
			var msg = document.getElementById('message').value
			
			var obj ={
					"user": {"id" : 0, "name" : "anon"},
					"message" : msg
			}
			
			fetch(window.location.href, {
				method: "POST",
				headers: {
					"Content-type": "application/json"
				},
				body: JSON.stringify(obj)
			})
			console.log('This is my link: '+ window.location.href)
		}
		
		function fetchFunc() {
			
		 fetch('http://localhost:8080/getList')
		 	.then((response) =>{
		 		return response.json()
		 	})
		 	.then((data) =>{
		 		document.getElementById('message_board').innerHTML = "";
		 		for (const [key, value] of Object.entries(data)) {
		 			if(key === channelId){
		 				value.forEach(element =>{
		 					document.getElementById('message_board').innerHTML += "<div>"+ element.user.name +": "+ element.message+"</div>";
		 				})
		 			}
		 		}
		 	})
		}
		
			
	</script>	
		
		
	</body>
</html>