<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Join Channel</title>
		<script type="text/javascript">
		</script>
	</head>
	
	<body>
		<h2>General Chat</h2>
		
		<div th:unless="${#lists.size(L_msg) >= 1}" th:each="messages : ${L_msg}">
				[[${messages.user.name}]]: [[${messages.message}]]
		</div>
		
		<form action="" method="post">
			<div>
				 <!-- <input type="hidden" th:field="${user}" />-->
				 <input type="text" th:field="${msg.message}" />
				 <input type="submit" value="Enter message" />
			</div>
			
		</form>
		
		
		
		
	</body>
</html>